.watched, .unwatched, .favorited, .unfavorited {
  border: none;
  background: none;
  margin: auto;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.checkButton-icon {
  display: inline-block;
  line-height: 0;
}

.checkButton-img {
  width: 24px;
  height: 24px;
  display: block;
}
