.watched, .unwatched, .favorited, .unfavorited {
  background: none;
  border: none;
  margin: auto;
}

button:focus {
  box-shadow: none;
  outline: none;
}

.checkButton-icon {
  display: inline-block;
  line-height: 0;
}

.checkButton-img {
  display: block;
  height: 24px;
  width: 24px;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
