footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d212c;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

footer p {
    margin: 0;
    margin-left: auto;
    padding: 0;
    color: #fff;
}
