footer {
    align-items: center;
    background: #1d212c;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

footer p {
    color: #fff;
    margin: 0;
    margin-left: auto;
    padding: 0;
}
