.section .banner {
    background: #1d212c;
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1d212c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.load-movies-container {
    display: flex;
    justify-content: center;
}

.load-movies {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1d212c;
    border-bottom: 1px solid #ddd;
}


.load-movies p {
    color: #fff;
    font-size: 0.85rem;
}


.load-movies button {
    background: #1d212c;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
}
